#chat {
    background: #394141;
    color: #eef0f0;
    font-family: sans-serif;
}

#chat button:nth-child(2) {
    border: none;
    border-color: transparent;
    background: #394141;
    box-shadow: none;
    color: #eef0f0;
    outline-style: none;
    transition: all 0.3s;
}

#chat button:nth-child(2):hover {
    box-shadow: none;
}

#chat #back_button {
    border: none;
    transition: all 0.3s;
}

#chat #back_button:hover {
    background: none;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

#chat #settings_button {
    border: none;
    transition: all 0.3s;
}

#chat #settings_button:hover {
    background: none;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

#chat entry {
    background: #394141;
    color: #eef0f0;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
    transition: all 0.3s;
}

#chat entry:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

#chat #user_info {
    background: #1F202C;
    border-right: 1px solid #2f3144;
}

#chat viewport{
    background: #414b4b;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
    border-top: 2px solid #414b4b; 
}

#chat #chats_sidebar {
    background: #394141;
    border-right: 1px solid #5d6c6b;
}

#chat #chat_list {
    background: #414b4b;
    
    border-right: 1px solid #414b4b;
}

#chat #messages_container > box > box {
    background: #5e6e6d;
    padding: 15px;
    box-shadow: 0px 10px 15px 2px rgba(0,0,0,0.65);
    border-radius: 20px 20px 20px 20px;
}

#chat #messages_container #message_sender {
    color: #eef0f0;
}

#chat #messages_container #message_text {
    color: #d9dede;
}

#chat #messages_container > box > box > label:nth-child(1) {
    color: rgb(236, 235, 235);
}

#chat #chats_sidebar > box > entry {
    background: #4c5858;
    color: rgb(236, 235, 235);
    transition: all 0.3s;
}

#chat #chats_sidebar > box > entry:focus {
    color: rgb(197, 197, 197);
}

#chat #chat_info > box > button {
    opacity: 0.6;
    transition: all 0.3s;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

#chat #chat_info > box > button:hover {
    opacity: 0.8;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

#chat #chat_info > box > button:active {
    opacity: 0.5;
}

#chat #chat_list > * {
    border-bottom: 2px solid #5d6c6b;
    transition: all 0.3s;
}

#chat #chat_list > *:hover {
    background: #4c5858;
    border-radius: 2px;
}

#chat #chat_list > *:selected {
    background: #5d6c6b;
    transition: all 0.3s ease-in-out;
}

#chat #chat_list > * label:first-child {
    color: #eef0f0;
}

#chat #chat_list > * label:nth-child(2) {
    color: #d9dede;
}

#chat #chat_list > * label:nth-child(3) {
    color: #d9dede;
}

/* #chat viewport {
    background-image: linear-gradient(to bottom, #9464f0, #8f5ce9, #8954e1, #844cda, #7f44d3, #7b40cc, #763bc6, #7237bf, #6e36b8, #6934b0, #6533a9, #6131a2);
} */